.disable-pointer-events {
  pointer-events: none;
}

.window {
  opacity: 1;
}

.window.hiding {
  transition: translateY(-100px);
  opacity: 0;
}

.window.hidden {
  transition: transform 150ms linear, opacity 150ms;
  max-width: 0px;
  max-height: 0px;
  border-width:0px;
  transition: translateY(-100px);
  opacity: 0;
}