* {
  box-sizing: border-box;
}

:root {
  --bkgd-image: url(https://wallpapershome.com/images/pages/pic_h/16728.jpeg);
  --bkgd-blur: 15px;
}
html,
body,
.main_bkgd {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
}

.column,
.row {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

.button {
  background-color: #00000066;
  transition: all 150ms linear;
  min-height: 34px;
  height: 100%;
  min-width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button:hover {
  background-color: #00000099;
}

.footer.actions {
  margin-top: 4px;
}

.footer.actions .button {
  padding: 8px 16px;
}
.footer.actions .button:not(:last-child) {
  margin-right: 4px;
}

.not-allowed {
  cursor: not-allowed;
}

[contenteditable] {
  outline: 1px solid transparent;
}
[contenteditable]:focus {
  outline: 1px solid #0aa91ec7;
}
.padding-v {
  padding: 20px 0px;
}

.window {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff40;
  width: 500px;
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00000066;
    margin-bottom: 5px;
    .spacer {
      content: "";
      display: flex;
      flex-grow: 1;
    }
    .title {
      background-color: #00000066;
      flex-grow: 1;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 150ms linear;
    }
    .title:hover {
      background-color: #ffffffd6;
      color: black;
      cursor: move;
    }
  }
  .tint-bkgd {
    background-color: #00000066;
  }
  .body {
    width: 100%;
    box-sizing: border-box;
  }
}

.window-shell {
  padding: 4px;
  background-color: #00000033;
}

.window-shell {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.blurred_bkgd {
  position: relative;
  .focus_content {
    z-index: 3;
  }
}
.blurred_bkgd:before,
.blurred_bkgd:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main_bkgd,
.blurred_bkgd:before,
.blurred_bkgd:after {
  background-image: var(--bkgd-image);
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
}

.blurred_bkgd:after {
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(var(--bkgd-blur));
  filter: blur(var(--bkgd-blur));
  backdrop-filter: blur(var(--bkgd-blur));
}

.inherit-height {
  height: inherit;
}

.resizable {
  resize: both;
}

.tinted,
.tinted-dark {
  background-color: #000000bf;
  color: white;
}

.tinted-light {
  background-color: #ffffffbf;
  color: black;
}

.app-header {
  width: 100%;
  height: 60px;
  background-color: #ffffff61;
}

.space-between {
  justify-content: space-between;
}

.v-align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.grow {
  flex-grow: 1;
}
.spacer {
  content: "";
  display: flex;
  flex-grow: 1;
}
.wrap {
  flex-wrap: wrap;
}
.inner_content {
  max-height: 100%;
}

.overflow-scroll {
  overflow: auto;
}

.window-content {
  height: calc(100% - 35px);
  overflow: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

$resizeHandleWidth: 10px;
$resizeHandleHeight: 10px;
$cornerColor: #ff990000;
$cornerHoverColor: #ff9900;
$sideColor: #0099ff00;
$sideHoverColor: #0099ff;
$transition: all 150ms linear;

.resize-handle {
  content: "";
  position: absolute;
  background-color: $sideColor;
  transition: $transition;
}

.resize-handle.active {
  background-color: $sideHoverColor;
}

.resize-handle-e {
  right: 0px;
  top: 0px;
  height: 100%;
  width: $resizeHandleWidth;
  transform: translateX(50%);
  cursor: ew-resize;
}

.resize-handle-w {
  left: 0px;
  top: 0px;
  height: 100%;
  width: $resizeHandleWidth;
  transform: translateX(-50%);
  cursor: ew-resize;
}

.resize-handle-n {
  top: 0px;
  left: 0px;
  width: 100%;
  height: $resizeHandleHeight;
  transform: translateY(-50%);
  cursor: ns-resize;
}

.resize-handle-s {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: $resizeHandleHeight;
  transform: translateY(50%);
  cursor: ns-resize;
}

.resize-handle-corner {
  content: "";
  position: absolute;
  background-color: $cornerColor;
  transition: $transition;
}
.resize-handle-corner.active {
  background-color: $cornerHoverColor;
}

.resize-handle-se {
  bottom: 0px;
  right: 0px;
  width: $resizeHandleWidth;
  height: $resizeHandleHeight;
  cursor: nwse-resize;
  transform: translateX(50%) translateY(50%);
}

.resize-handle-nw {
  top: 0px;
  left: 0px;
  width: $resizeHandleWidth;
  height: $resizeHandleHeight;
  cursor: nwse-resize;
  transform: translateX(-50%) translateY(-50%);
}

.resize-handle-ne {
  top: 0px;
  right: 0px;
  width: $resizeHandleWidth;
  height: $resizeHandleHeight;
  cursor: nesw-resize;
  transform: translateX(50%) translateY(-50%);
}

.resize-handle-sw {
  bottom: 0px;
  left: 0px;
  width: $resizeHandleWidth;
  height: $resizeHandleHeight;
  cursor: nesw-resize;
  transform: translateX(-50%) translateY(50%);
}

.taskbar {
  .button {
    display: flex;
    height: 100%;
    width: 150px;
    max-width: 150px;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 5px 0 0px;
    border-left: 0px solid transparent;
    transition: all 150ms linear;
    padding-left: 10px;
    .truncate-inner {
      display: inline-block;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .button:hover,
  .button.focused:hover,
  .button.open {
    background-color: #bbbbbb99;
  }
  .button.focused {
    border-left: 5px solid #09f;
  }
  .button.open {
    background-color: #6b6b6b99;
  }
}
