:root {
  --bkgd-image: url(https://wallpapershome.com/images/pages/pic_h/16728.jpeg);
  --bkgd-blur: 15px;
}

.blurred-bkgd {
  position: relative;
  overflow: hidden;

  .focus-content {
    z-index: 3;
  }
}
.blurred-bkgd:before,
.blurred-bkgd:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blurred-bkgd:before,
.blurred-bkgd:after {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  background-image: var(--bkgd-image);
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
}

.blurred-bkgd:after {
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: var(--bkgd-filter);
  filter: var(--bkgd-filter);
  backdrop-filter: var(--bkgd-filter);
}
